<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Blusense</h1>
    <p>Welcome to the Blusense Module Homepage! You can find all data charts, geolocation, and download raw data from here</p>
    <a type="button" class="btn btn-lg btn-default" href="https://blusense.herokuapp.com/db"><span class="glyphicon glyphicon-flash"></span>Data Charts</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://blusense.herokuapp.com/location"><span class="glyphicon glyphicon-info"></span>Geolocation of Device</a>
     <a type="button" class="btn btn-lg btn-primary" href="https://blusense.herokuapp.com/download"><span class="glyphicon glyphicon-info"></span>Download Raw Data</a>
  </div>

</body>
</html>
