<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span>Home</a>
      </li>
      <li>
        <a href="https://blusense.herokuapp.com/db"><span class="glyphicon glyphicon-info-sign"></span>Data Charts</a>
      </li>
	<ul class = "nav navbar-nav">
	<li>
	<a href = "https://blusense.herokuapp.com/location"> Device Location </a>
	</li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://blusense.herokuapp.com/download"><span class = "glyphicon glyphicon-download"></span>Download Raw Data</a>
      </li>
    </ul>
  </div>
</nav>
